TYPO3_E2E_BASE_URL=https://typo3-project.ddev.site

TYPO3_E2E_ADMIN_USER=e2e-admin
TYPO3_E2E_ADMIN_PASSWORD=ChangeMe123!

TYPO3_E2E_ALLOWED_USER=e2e-playground
TYPO3_E2E_ALLOWED_PASSWORD=ChangeMe123!

TYPO3_E2E_RESTRICTED_USER=e2e-restricted
TYPO3_E2E_RESTRICTED_PASSWORD=ChangeMe123!
